$d_1366_768: '(min-width: 1366px) and (min-height: 768px)';
$d_1366_768-flipped: '(min-width: 768px) and (min-height: 1366px)';
$d_1280_1024: '(min-width: 1280px) and (min-height: 1024px)';
$d_1280_1024-flipped: '(min-width: 1024px) and (min-height: 1280px)';
$d_1600_795: '(min-width: 1600px) and (min-height: 795px)';
$d_1600_795-flipped: '(min-width: 795px) and (min-height: 1600px)';
$d_1920_1080: '(min-width: 1920px) and (min-height: 1080px)';
$d_1920_1080-flipped: '(min-width: 1080px) and (min-height: 1920px)';
$d_2560_1080: '(min-width: 2560px) and (min-height: 1080px)';
$d_2560_1080-flipped: '(min-width: 1080px) and (min-height: 2560px)';
$d_2560_1440: '(min-width: 2560px) and (min-height: 1440px)';
$d_2560_1440-flipped: '(min-width: 1440px) and (min-height: 2560px)';